{% extends "::base.html.twig" %}

{% block title %}ReservationBundle:Authentication:authentication{% endblock %}

{% block body %}
<h1>Welcome to the Authentication:authentication page</h1>
{% endblock %}
