<div class="classes">
    <div class="container">
        <div class="reservationsForm panel panel-default panel-body">
            <div class="reservationsForm panel panel-default panel-body" ng-repeat="class in classes">
                <div>
                    {{class.name}}
                </div>
                <a href="#/class/{{class.id}}">Details</a>
            </div>
            <br/>
        </div>
        <div ng-show="$parent.access === 0" class="classesForm panel panel-default panel-body">
            <form ng-submit="addClass()">
                <h3> Add a class </h3>
                <div class="form-group">
                    <label> Name : </label>
                    <input class="form-control" placeholder="Type your class name here" ng-model="class.name" />
                </div>
                <button type="submit" class="btn btn-primary form-control">Add</button>
            </form>
        </div>
    </div>
</div>
